
.logo{
    height:50px;
    width:50px;

}
.navbar{
    display:flex;
    margin-left: 10px;
}


.landing{
    display:flex;
    width: 100vw;
    height:100vh;
}
.login-card{
    display:flex;
    float:left;
    margin-top: 100px;
    width: 37%;
    height: 75%;
}

.welcome{
    display:flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.login-input{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-wrapper {
    width: 100%;
    margin-bottom: 10px; 
  }

.right-side-landing{
    margin-top: 100px;
    float:right;
    height: 80%;
    width:55%;
}

.landing-woman{
    width:100%;
    height: 100%;
}