.today {
    display:flex;
}

.today-content {
    display:flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    margin-left: -100px;

}

.title{
    width:60vw;
   
}

.today-items-list {
    height:100vh;
    width:60vw;
    margin-top:20px;
}

.to-do-item{
    margin-left: -10px;
    display:flex;

}

.todo-text{
    padding-top:10px;

}

.add-new-todo-button{
    display:flex;
    margin-left: -10px;
}

.add-todo-button-text{
    padding-top:7px;
    color: lightslategray
}


